/* three */
.circle-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.circle {
    width: 10px;
    height: 10px;
    background-color: pink;
    border-radius: 50%;
    margin: 0 5px;
}
/* promisSec */
.primise:hover {
    transform: scale(0.7);
    opacity: 0;
    animation: zoomIn 2s forwards;
  }
  
  @keyframes zoomIn {
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
 /* QuoteSec */
  .quotes p{
    font-family: "Satisfy", cursive;
    font-style: normal;


  }
  body{
    overflow-x: hidden;
  }
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #76453f;
    font-size: 30px;
    font-weight: 800;

    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1; /* Ensure the text appears above the image */
}


.skintypes:hover .overlay-text {
    opacity: 9;
}

/* Home Grid */
.hover-div {
  position: relative;
  border-radius: 5px;
  height: 60vh;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 192, 203, 0.636); /* Semi-transparent blue */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.hover-div:hover .overlay {
  opacity: 1;
}

.show-more-text {
  color: white;
  font-size: 24px;
  text-align: center;
}
